html,
body{
    font-family: "lato",sans-serif;
    -webkit-font-smoothing:antialiased;
    font-smooth:antialiased;
    font-size:14px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color:#494753;
    margin: 0;
    font-weight: 549;
    font-family: "Futura",sans-serif;
}

h1{
    font-size:70px;
}

h2{
    font-size: 42px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 20px;
}
h6{
    font-size: 14px;
}

p{
    font-size: 15.7px;
    color:#fff;
    line-height: 1.8px;
}

img{
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus{
    outline: none;
}

a{
    transition: 0.5s linear;
}

a:hover,
a:focus{
    color:#771f72;
    text-decoration: none;
    outline: none;
    cursor: pointer;

}


ul,ol{
    padding: 0;
    margin: 0;
}

#navigationBar li a:focus::before{
    content: '';
    background-color: #771f72;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    left: -2px;
    top: 0px;
    display: inline-block;
}

.menu > a,#navigationBar ul li a{
    font-weight: bold;
    padding: 14px;
}

.dropdown-menu{
    min-width: 220px;
    border-top: 2px solid #771f72;
    background-color: purple;

}

.dropdown-menu a{
     font-weight: normal !important;
     padding: 7px !important;
     
}

.dropdown-menu a:hover{
    margin: 15px !important;
    background-color:transparent !important;
}

.navbar-brand{
    margin-top: -60px;
    margin-bottom: -60px;
}

.lr a{
    display: inline-block;
    
}

.lr-btn{
    width: 140px;
    border-radius: 40px;
    padding:8px;
    margin-top: -12px;
    margin-bottom: -12px;
    color: #fff;
    font-size: 15px;
    background-color: #771f72;
}

.lr-btn:hover{
    color: #fff;
    background-color:rgb(91, 22, 202);
}

.dropdown:hover .dropdown-menu{
    display: inline-block !important;
    margin-top: 0px !important;
    color:#fff;
}

/*BANNER SECTION*/
 .bannerSection .bannerImage{
    height: 470px !important;
}
/* marketing section*/

.marketingRow .fa{
    width:100px;
    height:95px;
    color:purple;
    border:2px solid;
    padding:20px;
    border-radius:40px;
    transition:0.2 linear;

}
.marketingRow .fa:hover{
    border-radius:48%;

}
.marketingSection p{
max-width: 47%;
text-align: center;
line-height: 30px;
color: #000;

}
.marketingRow{
    max-width: 94%!important;
}

.marketingSection .border{
    background-color: purple;
    height: 4px!important;
    width: 40px!important;
    margin: 10px 0px;

}
/*end of marketing section*/

/*achievement spot section*/
.achievementSpotRow .fa {
max-width: 86%!important;
}
.achievementSpot{
    padding:40px,0px,120px,0px!important;

    
}
.achievementSpotRow{
    padding-left: 90px;
}

    


.achievementSpot img {
    box-shadow: 17px 17px rgb(168, 141, 141);
}

.achievementSpot span{
color: purple;
}

.achievementSpot p,h5{
text-align: left;
line-height: 30px;
color: black;
}
/*end of achievement section*/

/*members section*/
.membersSection{
    margin-top: -10px;
    color: #fff;
}
.innerSection{
    background-color: purple;
    padding: 100px;
}
.innerSection .border{
    height: 4px;
    width: 40px;
    background-color: #fff;
}
.innerSection h4{
    color: #fff;
    font-weight: bold;
    font-size: 50px;

}
.innerSection h5{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
/*news section*/
.newsSection .border{
    background-color: purple;
    height: 4px;
    width: 40px;
    margin:10px 0px ;
}
.newsSection{
    padding-top: 120px;
}

.newsSection img{
    height: 220px;
    width: 100%;
}
.newsSection p{
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
    color: black;
}
.newsSectionRow{
    max-width: 90%;

}
.card-header{
    padding: 0px 0px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.125);

}
.card-header :hover{
    opacity: .5;
    cursor: pointer;

}

.card{
    transition: 00.5s linear;
}

.card :hover{
    -webkit-box-shadow:0 0 10px 0 purple;
    box-shadow:0 0 10px 0 purple;
    cursor: pointer;


}
.site-btn{
    border-radius: 40px;
    margin: 40px;
    width: 14%;
    padding: 10px;
    color: #fff;
    font-family: calibri;
    transition: 0.5s linear;
    background-color: purple;
}
.site-btn :hover{
    color: #fff;
    background-color: blue;
}
/*end of news section*/
/*end of members section*/

/*FOOTER SECTION*/
.footer-main{
    padding: 20px 0px;
}

.footer-top-box p{
    padding: 15px !important;
    color:#fff;
}

.footer-top-box ul li{
    float: left !important;
    margin-right: 5px !important;
}

.footer-top-box ul li a{
    color: #fff !important;
    display: inline-block !important;
    width: 36px;
    height:  36px;
    border: 2px solid #fff !important;
    text-align:  center !important;
    line-height: 32px !important;

}

.footer-top-box ul li a :hover{
    color: purple;
    border-color: purple;
}

.footer-widget, .footer-link, .footer-link-contact{
    margin-top: 15px !important;
}

.footer-widget h4{
    color:#fff;
    font-size:16px;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    margin-bottom: 20px !important;
    position: relative !important;
    font-weight: 700px;
}

.footer-widget p{
    color: #fff;
    font-weight:400px !important;
    font-size: 14px !important;
    padding-bottom: 20px !important;

}

.footer-link h4{
    color:#fff;
    font-size:16px;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    margin-bottom: 20px !important;
    position: relative !important;
    font-weight: 700px;

}

.footer-link ul li a{
    color: #fff;
    text-align: left;
    display:block;
    line-height: 32px;
    position: relative;
    padding-left:15px;
}

.footer-link ul li a:hover{
    color: purple;
    padding-left: 20px;
}

.footer-link-contact h4{
color:#fff;
font-size:16px;
text-transform: uppercase !important;
letter-spacing: 2px !important;
margin-bottom: 20px !important;
position: relative !important;
font-weight: 700px;
}

.footer-link-contact ul li{
    margin-bottom:12px;
}

.footer-link-contact ul li i{
    position: relative;
    left:0;
    top: 5px;
    padding-right: 6px;
}

.footer-link-contact ul li p{
    color: #fff;
    padding-left: 25px;
    position: relative;
}

.footer-link-contact ul li p:hover{
    color:purple !important;
padding-left: 15px !important;
transition: linear;
}

.bgimg{
    background:center top no-repeat fixed;
    color: #fff;
    background-size: auto;
    background-size: cover;
    padding: 30px 0px 30px 0px;
}
/*END OF FOOTER SECTION*/

/*START OF WIDGET*/

.icons-bar{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 0%;
    z-index: 100;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icons-social{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 0%;
    z-index: 100;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icons-bar a{
    display: block;
    text-align: center;
    padding: 9px 9px;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 14px;
    margin-bottom: 6px;
}

.icons-social a{
    display: block;
    text-align: center;
    padding: 18px 16px;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 14px;
    margin-bottom: 6px;   
}

.icons-bar a{
    background-color: purple;
}


/*END OF WIDGET*/

/*BANNER SECTION*/
.bannerSection{
    position:relative;
    margin-top:3px;
}

.bannerSection .bannerImage{
    height: 440px;
}

.bannerPageSection{
    background-size:100% 100%;
}

.innerBannerPageSection{
    background-color: rgb(26, 26, 26, 0.9);
    background-size: 100% 100%;
    height: 270px;
}

.bannercontent{
    position: relative;
    top:100px;
    left: 100px;
    
}

.bannerContent h2, h6{
    color: #fff;
    
}

/*CONTENT SECTION*/
.contentSection{
    padding: 100px 0px;

}
.contentSectionRow{
    max-width: 90%;

}

.contentSectionRow p, h3,h6{
    text-align: left;

}
.contentSectionRow p{
    line-height: 32px;
    color: black;
}
.contentSectionRow h6{
    color: gray;
}
.contentSectionRow img{
    box-shadow: 17px 17px gray;

}

.contentSection .border{
    margin-bottom: 10px;
    background: purple;
    height: 4px !important;
    margin-left: 20px !important;
    width: 40px;
}
/*END OF CONTENT SECTION*/


/*END OF BANNER SECTION*/
/*VALUE SECTION*/
.valueSection .border{
    background: purple;
    height: 4px !important;
    width: 40px;
    height: 3px;
    margin: 10px 0px;
}
.valueSectionRow{
    max-width: 90%;
}
.valueSectionRow .fa{
    width: 100px;
    height: 97px;
    color:purple !important;
    border: 2px solid purple!important;
    padding: 20px;
    border-radius: 40px;
    transition: 0.2s linear;
}

.valueSectionRow .fa:hover{
    border-radius: 48%;
}

.valueSection{
    padding: 8px 0px;
}
.valueSectionRow{
    padding-top: 70px ;
}

.valueSectionRow p{
    text-align: center;
    line-height: 30px;
    color: black;
}


/*END OF VALUE SECTION*/

/*REGISTER*/
.contactSpot{
    padding: 80px 0px;
    
}

.contactSpot .border{
    background: purple;
    height: 4px !important;
 
    width: 40px;
    height: 3px;
    margin: 10px 0px 70px 0px;

}

.contactSpotRow{
    max-width: 90%;
    padding-top: 70px;
}
.contactSpotRow .formItem .contactSpotRow .contactItem{
    border-color: transparent;
    -web-kit-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.9);
    box-shadow:0 0 10p 0px rgba(255, 255, 255, 0.9);
    transition: 0.7s linear;
}

.contactSpotRow .contactItem h4{
color: #0a0af0;
font-weight: bold;
font-size: 16px !important;
    
}
.contactSpotRow .contactItem .row p{
    padding-top: 3px;
    color: #000;
    font-size: 15px;
    transition: 0.7s linear;
}
.contactSpotRow .contactItem .row .fas{
    padding-top: 3px;
    color: gray;
    transition: 0.7s linear;
}
.contactSpotRow .contactItem .row p:hover{
    color: purple;
    cursor: pointer;
}
.contactSpotRow .contactItem .card-body h4 p{
    padding:70p 0px;
}

.contactItem p{
    line-height: 20px;
    text-align: left;
    color:black
}
.form-btn{
    background-color: purple;
    color: #fff;
    border-radius: 40px;
}
.form-btn:hover{
    background-color: blue;
    color:#fff;
    border: 40px;
}
.contactSpot{
    margin-top: -100px;
}
.contactSpotRow{
    margin-top: -100px;
}

/*STAFF SECTION*/

.staffSection{
    padding:70px 0px;

}
.staffSectionRow{
    max-width: 80%;
}

.staffSectionRownp,h6,span{
    text-align: left;
    color: gray !important;
}
.staffSectionRow img{
    border-radius: 50%;
    transition: 0.7s linear;
}

.staffSectionRow img:hover{
    -webkit-box-shadow:0 0 10px 0px rgba(153, 153, 153, 0.9);
    box-shadow: 0 0 10px rgba(153, 153, 153, 0.9);
}

.staffSection p{
    line-height: 20px;
    color:#000;
}
/*END OF STAFF SECTION*/


